{
  "presets": ["@babel/preset-react"],
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-react",
          {
            "development": true
          }
        ]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-react-display-name",
    "@babel/plugin-proposal-class-properties"
  ]
}
