<div class="controls">
    <ul class="form-elements">
        <li class="item">
            <label class="label">Filter Range</label>
            <input type="range" name="filter-range" min="0" max="100" step="20" value="80" class="range-slider filter-range" />
        </li>
        <li class="item">
            <label class="label">Noise Balance</label>
            <input type="range" name="noise-balance" min="0" max="100" step="20" value="80" class="range-slider noise-balance" />
        </li>
        <li class="item">
            <label class="label">Feedback Emphasis</label>
            <input type="range" name="feedback-emphasis" min="0" max="100" step="20" value="80" class="range-slider feedback-emphasis" />
        </li>
    </ul>
</div>
<button class="toggle-slide arrow">&raquo;</button>