<div class="modal-container">
    <div class="vertical-center">
        <div class="horz-center">
            <div class="modal error">
                <h2>Browser Not Supported!</h2>
                <p>TiberSynth only works in web browsers that support the <a href="http://webaudio.github.io/web-audio-api/">Web Audio API</a>. Currently, this means recent versions of Google Chrome and Apple Safari.</p>
            </div>
        </div>
    </div>
</div>