@import "../../less/variables.less";

:local {
  @transitionDuration: 250ms;

  .container {
    border-radius: @borderRadius;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: @fontFamily;
    font-size: @fontSize;
    font-weight: 600;
    line-height: @lineHeight;
    margin: 0;
    outline: none;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    transition: @transitionDuration opacity linear;

    &:active {
      opacity: 0.95;
    }
  }

  .colorWhite {
    &,
    &:active,
    &:hover,
    &:visited {
      background-color: @colorWhite;
      color: @colorBlack;
    }
  }

  .colorBlack {
    &,
    &:active,
    &:hover,
    &:visited {
      background-color: @colorBlack;
      color: @colorWhite;
    }
  }
}
