@import "../../less/variables.less";

:local {
  @transitionDuration: 250ms;

  .container {
    border-radius: @borderRadius;
    border: none;
    cursor: pointer;
    font: @fontSize / 1em normal @fontFamily;
    margin: 0;
    outline: none;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    transition: @transitionDuration opacity linear;

    &:active {
      opacity: 0.95;
    }
  }

  .colorWhite {
    background-color: @colorWhite;
    color: @colorBlack;
  }

  .colorBlack {
    background-color: @colorBlack;
    color: @colorWhite;
  }
}
