@import "../../less/variables.less";

:local {
  .container {
    border-radius: @borderRadius;
    border: none;
    cursor: pointer;
    font: @fontSize / 1em normal @fontFamily;
    margin: 0;
    outline: none;
    padding: 0.5em 1em;
    transition: 150ms opacity linear;

    &:active {
      opacity: 0.95;
    }
  }

  .colorWhite {
    background-color: @colorWhite;
    color: @colorBlack;
  }

  .colorBlack {
    background-color: @colorBlack;
    color: @colorWhite;
  }
}
