
* { margin: 0; padding: 0; }

html, body {
    width: 100%;
    height: 100%;
    font: normal 14px/1.45em 'Helvetica Neue', 'Helvetica', sans-serif;
    text-rendering: optimizeLegibility;
    z-index: 0;
    overflow: hidden;
}

::-moz-selection { background-color: transparent; }
::selection { background-color: transparent; }

h1, h2, h3, h4, h5 {
    margin: 0 0 0.5em 0;
    line-height: 1em;
}

h3 {
    font-size: 1em;
    font-weight: normal;
}

h5 {
    font-size: 1em;
    line-height: 1em;
    font-weight: normal;
    text-transform: uppercase;
}

p {
    margin: 0 0 1em 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

article,
section {
    z-index: 0;
}

img {
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

fieldset {
    border: none;
}

label {
    margin: 0 0.25em 0 0;
    width: auto;
    display: inline-block;
}

input,
textarea,
button {
    margin: 0;
    padding: 0;
    font: normal 14px/1em 'Helvetica Neue', 'Helvetica', sans-serif;
    outline: none;
}

input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input[type=text],
input[type=email] {
    padding: 0.25em;
    border: 1px solid gray;
}

::-webkit-input-placeholder {
    font: italic 14px/1em 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #ccc;
}

:-moz-placeholder {
    font: italic 14px/1em 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #ccc;
}

::-moz-placeholder {
    font: italic 14px/1em 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #ccc;
}

:-ms-input-placeholder {
    font: italic 14px/1em 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    
}

th, td {
    padding: 0.5em;
    border: 1px solid #999;
    text-align: left;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}
