
.modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.modal-container,
.modal-container a {
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.modal-container .vertical-center {
    width: 100%;
    height: 100%;
    display: table;
}

.modal-container .horz-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.modal-container .modal {
    margin: 0 auto;
    padding: 1em;
    width: 50%;
    max-width: 420px;
    background-color: rgba(0, 1, 4, 0.65);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.35);
    text-align: left;
}

.info-modal .play {
    margin: 0.5em 0;
    padding: 0.65em;
    width: 100%;
    background-color: rgba(1, 3, 7, 0.25);
    color: #bce2e5;
    cursor: pointer;
}

.info-modal .copyright {
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
    border-top: 1px solid #ccc;
    font-size: 0.85em;
    color: #ccc;
}

.info-modal .copyright a {
    color: #ccc;
}

.modal.error {
    background-color: rgba(180, 0, 0, 0.75);
}

.modal.error * {
    color: white;
}

.playing-surface {
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

.playing-surface svg {
    width: 100%;
    height: 100%;
}

.playing-surface .gravity-point {
    fill: rgba(2, 3, 7, 1);
    stroke-width: 0;
}
