@import "../../../../less/variables.less";

:local {
  .container {
    background-color: @colorBlack;
    box-shadow: 1px 0 @spacing / 4 rgba(0, 0, 0, 0.06),
      1px 0 rgba(4, 4, 4, 0.13);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: @spacing;
    width: @sidebarWidth;
  }

  .block {
    flex: 0 0 auto;

    &__margin {
      margin: 0 0 @spacing / 2 0;
    }

    &__padding {
      padding: @spacing / 2 0;
      margin: @spacing / 2 0 @spacing / 2 0;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .navMenu {
    width: @sidebarWidth - @spacing;
  }

  .title {
    display: flex;
    flex-direction: row;

    .titleHelp {
      cursor: pointer;
      margin: 0 0 0 @spacing / 2;
    }
  }
}
