@import "../../../../less/variables.less";

:local {
  .container {
    background-color: @colorBlack;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: @spacing;
    width: @sidebarWidth;
  }

  .block {
    flex: 0 0 auto;

    &__margin {
      margin: 0 0 @spacing / 2 0;
    }

    &__padding {
      padding: @spacing / 2 0;
      margin: @spacing / 2 0 @spacing / 2 0;
    }
  }

  .spacer {
    flex: 1 1 auto;
    margin: 0 0 @spacing 0;
  }

  .seperator {
    border-bottom: 1px solid @colorDarkGray;
    border-top: 1px solid @colorDarkGray;
    margin: @spacing * 2 0 @spacing / 2 0;
    padding: @spacing / 2 0;
  }

  .navMenu {
    width: @sidebarWidth - @spacing;
  }

  .title {
    opacity: 0.7;
  }
}
