
* { margin: 0; padding: 0; }

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    font: normal 14px/18px 'Helvetica Neue', 'Helvetica', sans-serif;
    color: white;
    z-index: 0;
    overflow: hidden;
}

h1, h2, h3, h4 {
    margin: 0 0 0.5em 0;
    font-weight: normal;
    color: #96DBE5;
}

p {
    margin: 0 0 0.5em 0;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;    
}

#container {
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

#tibersynth {
    padding: 0 0 0 30px;
    /*width: 100%;*/
    height: 100%;
    z-index: 10;
    overflow: hidden;
}

#controls {
    padding: 5px;
    height: 100%;
    background-color: #1c1c1c;
    background: -webkit-linear-gradient(left, #1c1c1c, #000);
    float: left;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#controls #label {
    width: 20px;
    height: 170px;
}

#controls #label h1 {
    width: 20px;
    height: 20px;
    display: block;
    font: bold 20px/20px 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    color: #4c4c4c;
    -webkit-transform: rotate(90deg);
}

#space {
    width: 100%;
    height: 100%;
    background-color: #ececec;
    float: left;
    overflow: hidden;
}

.vertical-center-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.vertical-center {
    width: 100%;
    height: 100%;
    display: table;
}

.vertical-center .copy-container {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.vertical-center .copy-container .copy {
    margin: 0 auto;
    padding: 1.5em;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    text-shadow: 1px 1px 0 black;
    text-align: left;
}

#info-view .copy {

}

#info-view .play {
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: red;
    border: 1px solid white;
    font: bold 16px/16px 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#info-view .copyright {
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
    border-top: 1px solid #ccc;
    font-size: 0.85em;
    color: #ccc;
}

#info-view .copyright a {
    color: #ccc;
}

#not-supported .copy h2.error {
    padding: 0.25em;
    background-color: red;
    color: white;
}
