
* { margin: 0; padding: 0; }

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    font: 10px/14px 'Droid Sans Mono', 'Monaco', monospace;
    color: white;
    z-index: 0;
    overflow: hidden;
}

a {
    color: white;
}

h1, h2, h3, h4 {
    font-weight: normal;
    color: #96DBE5;
    text-shadow: 1px 1px 1px black;
}

#container {
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

#tibersynth {
    padding: 0 0 0 30px;
    /*width: 100%;*/
    height: 100%;
    z-index: 10;
    overflow: hidden;
}

#controls {
    padding: 5px;
    height: 100%;
    background-color: #1c1c1c;
    background: -webkit-linear-gradient(left, #1c1c1c, #000);
    float: left;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#controls #label {
    width: 20px;
    height: 170px;
}

#controls #label h1 {
    width: 20px;
    height: 20px;
    display: block;
    font: bold 20px/20px 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    color: #4c4c4c;
    -webkit-transform: rotate(90deg);
}

#controls section h1 {
    
}

#controls section a {
    color: white;
    text-decoration: none;
}

#controls section a:hover {
    text-decoration: underline;
}

#space {
    width: 100%;
    height: 100%;
    background-color: #ececec;
    float: left;
    overflow: hidden;
}

#not-supported {
    margin: 15px 0 0 -20%;
    padding: 12px;
    width: 40%;
    background-color: #ff2200;
    border: 2px solid #333;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    display: none;
}
