@borderRadius: 4px;
@colorBlack: #171414;
@colorDarkGray: #3a3a3a;
@colorGray: #868686;
@colorWhite: #fff;
@fontFamily: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
@fontSize: 15px;
@fontSizeLarge: 21px;
@fontSizeSmall: 13px;
@lineHeight: 23px;
@sidebarWidth: @spacing * 22;
@spacing: 13px;
@staticPageWidth: 980px;
