@import "../../../../less//variables.less";

:local {
  .container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: auto;
    width: 100vw;
  }

  .content {
    width: @staticPageWidth;
  }
}
