<div class="modal-container">
    <div class="vertical-center">
        <div class="horz-center">
            <div class="modal">
                <h2>TiberSynth v1.0</h2>
                <p>TiberSynth is a real-time audio synthesizer that runs in your web browser. By "real-time" we mean that the sound is actually being synthesized as you play. The synth uses many-to-many vector mapping to enable complex gestural control using only your mouse. The accompanying visualization represents the placement and relationship of paramters that populate the current sound-space.</p>
                <p>Clicking or dragging on the control surface plays a sound. Pressing the 'R' key on your keyboard generates a new random sound-space to explore.</p>
                <button class="play">Play</button>
                <div class="copyright">&copy; 2014 <a href="http://prtcl.cc">Cory O'Brien</a>. Source code on <a href="https://github.com/prtcl/tibersynth">GitHub</a>.</div>
            </div>
        </div>
    </div>
</div>