
html, body {
    background-color: black;
    color: white;
}

h1, h2, h3, h4 {
    font-weight: normal;
    color: #bce2e5;
}

p {
    margin: 0 0 0.5em 0;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#container {
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: 0;
    overflow: hidden;
}

#tibersynth {
    padding: 0 0 0 25px;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

#sidebar {
    padding: 8px 2px 0px 5px;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.005);
    float: left;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

#sidebar .header {
    width: 18px;
    height: 170px;
}

#sidebar .header h1 {
    width: 18px;
    height: 18px;
    display: block;
    font: bold 18px/18px 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    color: #4c4c4c;
    -webkit-transform: rotate(90deg);
}

#keyboard-legend {
    padding: 1em;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 0.95;
    display: none;
}

#playing-surface {
    margin: 0 0 0 25px;
    height: 100%;
    float: left;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#controls {
    position: absolute;
    left: -305px;
    bottom: 0;
    display: none;
    z-index: 100;
    -webkit-transition: left 0.1s;
    -moz-transition: left 0.1s;
    -o-transition: left 0.1s;
    transition: left 0.1s;
}

#controls.slide-out {
    left: 0;
}

#modal-container {}
