@import "../../../../less/variables.less";

:local {
  .container,
  .pointVisualization,
  .svg,
  .transitionGroup {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  .svg {
    cursor: crosshair;
  }

  .point {
    .weightHalo {
      fill: rgba(183, 190, 218, 0.05);
      stroke: rgba(0, 0, 0, 0.05);
      stroke-width: 1;
    }

    .weight {
      fill: rgba(183, 190, 218, 0.1);
      stroke: rgba(0, 0, 0, 0.16);
      stroke-width: @spacing;
    }

    .value {
      fill: rgba(0, 0, 0, 0.78);
      stroke: rgba(0, 0, 0, 0.5);
      stroke-width: @spacing;
    }

    .marker {
      fill: rgba(0, 0, 0, 0.75);
    }

    .label,
    .synthesisValue {
      font-family: @fontFamily;
      font-size: @fontSize - 5;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.05);
    }
  }

  .fadeEnter {
    opacity: 0;
    transform: translateY(@spacing);
  }

  .fadeEnterActive {
    opacity: 1;
    transition: all 300ms ease-in-out, transform 75ms ease-in;
    transform: translateY(0px);
  }
}
