@import "../../../../less/variables.less";

:local {
  .container {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  .pointVisualization,
  .svg {
    width: 100%;
    height: 100%;
  }

  .point {
    .weight {
      fill: rgba(183, 190, 218, 0.1);
      stroke: rgba(0, 0, 0, 0.16);
      stroke-width: @spacing;
    }

    .value {
      fill: rgba(0, 0, 0, 0.78);
      stroke: rgba(0, 0, 0, 0.5);
      stroke-width: @spacing;
    }

    .marker {
      fill: rgba(0, 0, 0, 0.75);
    }
  }
}
