@import "../../less/variables.less";

:local {
  @handleWidth: 14px;
  @handleCenter: @handleWidth / 2;
  @sliderHeight: 24px;
  @trackColor: #fbfbfd;
  @trackHeight: 4px;

  .container {
    margin: @spacing / 2 0;
  }

  .labelContainer {
    display: flex;
    flex-direction: row;
  }

  .label,
  .value {
    flex: 1;
  }

  .value {
    text-align: right;
  }

  .sliderContainer {
    padding: 0 @handleCenter;
  }

  .slider {
    cursor: move;
    height: @sliderHeight;
    position: relative;
    width: 100%;
  }

  .railContainer,
  .trackContainer {
    height: @sliderHeight;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .rail,
    .track {
      background-color: @trackColor;
      height: @trackHeight;
      opacity: 0.2;
      margin-top: @sliderHeight / 2 - @trackHeight / 2;
      width: 100%;
    }
  }

  .trackContainer {
    z-index: 2;
  }

  .handleContainer {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: @sliderHeight;
    justify-content: center;
    margin-left: -(@sliderHeight / 2);
    position: absolute;
    top: 0;
    width: @sliderHeight;
    z-index: 3;

    .handle {
      background-color: @colorWhite;
      border-radius: @handleWidth;
      border: 1px solid #d2d5de;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      height: @handleWidth;
      width: @handleWidth - 1;
      z-index: 3;
    }
  }
}
